p{
    margin: 5px;
}
.container{
    margin: 0;
    margin-top: 80px;
    margin-left: 35%;
    width: 65%;
}

.menu-lateral{
    width: 30%;
    position: fixed;
    background-color: #966E3F;
    padding: 20px;
    margin-top: 20px;
}

.menu-lateral h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.menu-lateral ul{
    width: 90%;
}

.menu-lateral a{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: .8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #D8D8D8; 
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 2px #d8d8d8 solid;
}

.menu-lateral a:hover{
    font-size: .9em;
    color: #201F1F; 
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 2px #201f1f solid;
}

.content-others{
    margin: 0;
    padding: 0;
    margin-top: 120px;
}

.title-others{
    padding: 20px;
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

.title-1-others{
    font-family: Roboto;
    margin-top: 20px;
    font-size: 48px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #201F1F;
    margin: 0;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}


.subtitle-others h3{
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    border-bottom: 3px #201F1F solid;
    text-decoration: none;
    padding-bottom: 5px;
    margin: 0;
    padding-top: 20px;
    margin-bottom: 30px;
}

.subtitle-others p{
    margin-top: 20px;
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.1em;
    padding: 20px;
    background: #d8d8d8;
    margin: 5%;
}

article{
    margin: 0;
    padding: 10%;
    padding-bottom: 20px;
    background: #c1c1c1;
}

.article-interno{
    padding-top: 2%;
    padding-bottom: 2%;
}

.media{
    display: block;
    background: #966E3F;
    box-shadow: -6px -6px 30px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.media img{
    width: 90%;
    padding: 5%;
    padding-bottom: 0;
}

.media p{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: .8em;
    color: #201F1F;
    padding: 10px;
}

.media iframe{ 
    width: 90%;
    padding: 5%;
    padding-bottom: 0;

}

article li{
    list-style: square;
    padding-bottom: 10px;
}

@media screen and (min-width: 2000px) {
    .title-others{
        padding: 20px;
        background-image: none;
    }
}

@media screen and (max-width: 992px) {
    p{
        font-size: .8em;
    }
    a{
        font-size: 2em;
    }
    .menu h1{
        font-size: .5em;
    }

    .menu li{
        display: none;
    }
    .title-others{
        padding: 20px;
        background-image: none;
    }
    .info{
        display: none;
    }
    .menu-lateral{
        display: none;
    }
    .container{
        margin: 0 auto;
        margin-top: 80px;
        width: 90%;
    }
}
