.container{
    margin: 0;
    margin-top: 80px;
}

.menu-lateral{
    position: fixed;
    float: left;
    background-color: #966E3F;
    flex: 4;
    padding: 20px;
    margin-top: 20px;
}

.menu-lateral h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.menu-lateral ul{
    width: 300px;
}

.menu-lateral a{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #D8D8D8; 
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 2px #d8d8d8 solid;
}

.menu-lateral a:checked{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #201F1F; 
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 2px #201f1f solid;
}

.menu-lateral a:hover{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #201F1F; 
    text-decoration: none;
    line-height: 35px;
    padding-bottom: 5px;
    border-bottom: 2px #201f1f solid;
}
.content-others{
    flex: 8;
    float: right;
    width: 66,67%;
    margin: 0;
    padding: 0;
}

.title-others{
    padding: 20px;
    padding-top: 30px;
    padding-left: 40px;
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 450px;
    float: right;
    width: 912px;
}

.title-1-others{
    font-family: Roboto;
    font-size: 48px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #201F1F;
    margin: 0;
}

.title-2-others{
    font-family: Roboto;
    font-size: 48px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    margin-top:-63px;
    margin-left: -3px;
    margin-bottom: 0;
    margin-right: 0;
}

.subtitle-others h3{
    flex: 5;
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    border-bottom: 3px #201F1F solid;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 30px;
}

.subtitle-others p{
    margin-top: 20px;
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.1em;
    padding: 20px;
    background: #d8d8d8;
}
article{
    background: #c1c1c1;
    flex: 8;
    float: right;
    width: 612px;
    margin-right: 33,33%;
    padding-left: 100px;
    padding-right: 21px;
    margin-right: 150px;
}
.subtitle-others h3{
        margin: 0;
        margin-top: 80px;
}

.media{
    width: 70%;
    background: #966E3F;
    float: right;
    box-shadow: -6px -6px 30px rgba(0, 0, 0, 0.25);
}

.media img{
    padding-top: 40px;
    padding-left: 125px;
    width: 640px;
}

.media p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    color: #201F1F;
    padding-left: 125px;
    padding-bottom: 20px;
    margin: 0;
}

.media iframe{
    padding-top: 40px;
    padding-left: 125px;
    
}

article li{
    list-style: square;
    padding-bottom: 10px;
}
