body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8D8D8;
}

p{
    font-size: 1em;
}
.menu{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 80px;
    background: #201F1F;
    display: flex;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
}

.menu-nav{
    padding-right: 80px;
}

ul,ol li{
    list-style: none;
  }
  
.menu li{
    display: inline;
    list-style: none;
    padding-right: 20px;
    font-style: normal;
    line-height: normal;
    font-size: 1em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: #D8D8D8;
}

.menu  a:hover{
    color:#966E3F;
    font-weight: bold;
    font-weight: bold;
    font-size: 1em;
}

.menu-atual{
    color:#966E3F;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.15em;
    padding-bottom: 5px;
    padding-left: 
    border-bottom: #D8D8D8 solid 3px;
}
.menu h1{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.25em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #D8D8D8;
    float: right;
}

#sobre{
    display: flex;
}

.sobre{
    flex: 7;
}

.img-side-left{
    flex: 5;
    left: 0px;
    margin-top: 80px;
    background: url(../img/perdeu-cartaz.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sinopse{
    background: #966E3F;
    font-size: 2em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #201F1F;
    padding: 80px 20px 20px 40px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}


.about{
    background-color: #201F1F;
    display: flex;
}

.about-div{
    flex: 1;
    padding: 20px ;
}

.img-caio{
    flex: 1.5;
    background-image: url(../img/perfil-caio.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-about{
    margin: 0;
    font-size: 3em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #D8D8D8;
    text-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.about-content{
    color: #966E3F;
    font-size: 1em;
}

.title{
    padding: 20px;
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

.title h2{
    font-family: Roboto;
    font-size: 3em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #201F1F;
    margin: 0;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

.content-home{
    width:80%;
    margin-left: 20px;
    text-align: left;
}

.media-home{
    text-align: center;
    padding: 20px;
}

.media-home img{
    width: 100%;
}

.media-home p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.8em;
    color: #201F1F;
    margin: 0;
}

.link-next{
    float: right;
    color: #966E3F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.1em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px #966E3F solid;
    text-decoration: none;
    margin: 40px;
}

.link-next:hover{
    float: right;
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.2em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px #201F1F solid;
    text-decoration: none;
    margin: 40px;
}

.link-previous{
    float: left;
    color: #966E3F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.1em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px #966E3F solid;
    text-decoration: none;
    margin: 40px;
    margin-left: 0px;
}

.link-previous:hover{
    float: left;
    color: #201F1F;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.2em;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 3px #201F1F solid;
    text-decoration: none;
    margin: 40px;
    margin-left: 0px;
}

.info{ 
    width: 100%;
    height: 80px;
    background: #201F1F;
    margin: 0;
    padding: 0;   
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.info li{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    color: #D8D8D8;
    margin: 0;
}

.info-tecnica{
    float: left;
    margin-left: 240px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.info-contato{
    float: right;
    margin-right: 240px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
}

.info a{
    text-decoration: none;
    color: #D8D8D8;
}

.info  a:hover{
    color: #966E3F;
    font-weight: bold;
    font-weight: bold;
    font-size: 15px;
}


@media screen and (min-width: 2000px) {
    .title{
        padding: 20px;
        background-image: none;
    }
}

@media screen and (max-width: 992px) {
    .img-side-left{
        display: none;
    }
    p{
        font-size: 1em;
    }
    a{
        font-size: 2em;
    }
    .about{
        display: block;
    }
    .title{
        padding: 20px;
        background-image: none;
    }
    .content-home{
        width: 90%;
    }
    .menu li{
        display: none;
    }
    .info{
        display: none;
    }
    .about-content{
        font-size: 1em;
    }
    .media-home p{
        font-size:1em;
    }
    .menu h1{
        font-size: .5em;
    }
}
